#main-banner{
    width: 100%;
    height: 85px;
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 16px 0 0 0;
            .content{
                width: 100%;
                position: relative;
                .slide-container{
                    width: 100%;
                    padding: 0 195px 0 0;
                    .slide-view{
                        width: 100%;
                        overflow: hidden;
                        .slide-wrap{
                            width: 20%*24;
                            display: flex;
                            position: relative;
                            margin: 0 0 0 -120%;
                            .slide{
                                width: 20%;
                                padding: 1px;
                                text-align: center;
                                position: relative;
                                a{
                                    img{
                                        width: auto;
                                    }
                                }
                                &::after{
                                    content: '';
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    height: 24px;
                                    border-right: 1px solid #eaeaea;
                                    margin: -12px 0 0 0;
                                }
                            }
                        }
                    }
                }
                .main-banner-btn-box{
                    position: absolute;
                    top: 10px;
                    right: 13px;
                    display: flex;
                    a{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #eee;
                        border-radius: 50%;
                        margin: 0 2px;
                        &.prev-btn{background: url(../img/icon_mainBanner_prev.gif) no-repeat 50% 50%;}
                        &.play-btn{background: url(../img/icon_mainBanner_stop.gif) no-repeat 50% 50%;}
                        &.next-btn{background: url(../img/icon_mainBanner_next.gif) no-repeat 50% 50%;}
                        &.all-menu{background: url(../img/icon_mainBanner_all.gif) no-repeat 50% 50%;}
                    }
                }
            }
        }
    }
}