#footer {
  width: 100%;
  height: 213px;
  background: #454952;
}
#footer .container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}
#footer .container .gap {
  width: 100%;
  height: 100%;
  padding: 32px 0 70px 0;
}
#footer .container .gap .content {
  width: 100%;
}
#footer .container .gap .content .row1 {
  width: 100%;
  display: flex;
}
#footer .container .gap .content .row1 ul {
  display: flex;
  margin: 0 40px 0 0;
  padding: 10px 0 0 0;
}
#footer .container .gap .content .row1 ul li {
  margin: 0 1px;
}
#footer .container .gap .content .row1 ul li a {
  display: block;
  color: #c2c5cd;
  padding: 0 15px;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -1px;
}
#footer .container .gap .content .row1 ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2px;
  height: 10px;
  border-right: 1px solid #656870;
  margin: -5px 0 0 0;
}
#footer .container .gap .content .row1 ul li:first-child {
  font-weight: 500;
}
#footer .container .gap .content .row1 ul li:last-child a::after {
  border: 0;
}
#footer .container .gap .content .row1 .family-site {
  width: 240px;
  height: 40px;
  position: relative;
}
#footer .container .gap .content .row1 .family-site > a {
  display: block;
  width: 100%;
  height: 38px;
  background: #35383f url(../img/icon_familySel_btnMove.png) no-repeat 95% 50%;
  border: 1px solid #5a5d65;
  line-height: 37px;
  color: #fff;
  padding: 0 0 0 15px;
  font-size: 14px;
  letter-spacing: -1px;
}
#footer .container .gap .content .row1 .family-site .family-site-select {
  position: absolute;
  top: -411px;
  left: 0;
  width: 100%;
  height: 412px;
  background: #35383f;
  border: 1px solid #5a5d65;
  overflow: auto;
}
#footer .container .gap .content .row1 .family-site .family-site-select a {
  display: block;
  padding: 3px 0 3px 15px;
  color: #fff;
  line-height: 140%;
  font-size: 13px;
  letter-spacing: -1px;
}
#footer .container .gap .content .row1 .family-site .family-site-select a:hover {
  text-decoration: underline;
}
#footer .container .gap .content .row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer .container .gap .content .row2 p {
  padding: 20px 0 0 10px;
  font-size: 15px;
  color: #9fa2ab;
  line-height: 170%;
  letter-spacing: -1px;
}
#footer .container .gap .content .row2 p a {
  color: #9fa2ab;
  vertical-align: baseline;
}
#footer .container .gap .content .row2 span {
  margin: 15px -2px 0 0;
}
#footer .container .gap .content .row2 span a {
  margin: 0 12px 0 0;
}
#footer .container .gap .content .row2 span a img {
  width: auto;
}